* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(232, 230, 230);
    margin-top: 30px;
    
  }
  .form-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 885px;
    background-color: white;
    border-radius: 12px;
    
  
  }
  img{
    margin: 10px 0px;
    padding: 0 10px;
    height: 40px;
    width: auto;
  }
  form {
      display: flex;
      flex-direction: column;
      padding: 15px 0px;
      align-items: center;
      justify-content: center;
    
  
  }
  
  a{
    color: rgb(107, 107, 209);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-decoration: none;
  
  }
  p{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
  }
  input{
      margin: 10px 0px;
      padding: 0px 10px;
     height: 60px;
   width: 400px;
      font-size: 18px;
      border: 0.5px solid gray;
      border-radius: 8px;
     
  }
  .input-select{
    font-size: 18px;
    
     padding: 0;
  }
  .i-select{
margin-left: -130px;
  }
  .language{
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(207, 204, 204);
  }
  
  .inputform-radio{
    
    display: flex;
    flex-direction: row;
    
   font-size: 15px;
   
    width: 450px;
  }
  input[type="radio"] {
    transform: scale(0.5);
  }
  label{
    margin-top: 30px;
    margin-right: 50px;
  
  }
  
  /* label {
    font-size: 0.8em;
  } */
  button{
      margin: 10px 0px;
      padding: 10px 10px;
      color: white;
      font-weight: bold;
      background-color:rgb(107, 107, 209);
      border:none;
      height: 50px;
      width: 420px;
      border-radius: 8px;
      font-size: 18px;
      
      
  }
  button:hover{
    box-shadow: 0 5px 5px 0 rgba(134, 130, 130, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  a{
      font-size: 24px;
  }
  hr {
    width:400px;
    margin:0 auto;
  }
  .btn{
    margin: 25px 0px;
    padding: 10px 10px;
    background: rgb(24, 156, 24);
    width: 250px;
   
  }

  @media (max-width: 1050px) {
    .form-container {
      flex-direction: column;
      width: 100%;
      background-color: white;
      margin-top: -72px;
      padding: 8px 0px;
      width: 500px;
      height: 928px;
      border-radius: 0px;
    
    }
    
  }
  
  @media (max-width: 600px) {
    .form-container {
      flex-direction: column;
      width: 90%;
      background-color: white;
      margin-top: -30px;
      padding: 8px 0px;
      width: 500px;
      height: 928px;
      border-radius: 0px;
    
    }
    button{
    
    
      height: 50px;
      width: 300px;
      border-radius: 8px;
      font-size: 18px;
      
      
  }
  input{
    margin: 10px 0px;
    padding: 0px 10px;
   height: 50px;
 width: 300px;
    font-size: 18px;
    border: 0.5px solid gray;
    border-radius: 8px;
   
}


    
  }