*{
  font-family: "Roboto Mono";
}

tbody{
  background-color: whitesmoke;
}
.search{
  text-align: center;
  background-color: rgb(201, 240, 170);
  padding: 20px;
  margin-top: -8px;
  text-align: center;
  display: flex;
  justify-content: space-between;
 
}
.search input{
  padding: 12px;
}

.container{
  display: flex;
  margin-left: 20px;
 
}
.form{
  margin: 0;
  padding: 50px;
  width: 450px;
  height: 200px;
 
}
form{
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 12px;
  padding: 8px;
  height: 500px;
  background-color: rgb(243, 240, 240);
 

}
label{
font-size: 18px;
margin-left: 12px;
}
input{
width: 400px;
height: 30px;
margin-left: 12px;
border-radius: 8px;
}

button{
background-color: green;
border: none;
height: 40px;
width: 200px;
border-radius: 8px;
color: white;
}

.table{
  margin-top: 50px;
}
.table table {
  border-collapse: collapse;
  width: 1200px;
  
}

th, td {
  border: 1px solid rgb(211, 208, 208);
  padding: 20px;
  text-align: left;
 
}

th {
  background-color: #55b5c8;

}

.gendersection select{
  /* height:40px ;
   width: 150px;
   margin-left: 20px; */
   background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 200px;
  border: none;
  font-size: 18px;
  
}



.language{
  display: flex;
  flex-direction: row;
  margin-right: 8px;
 
  
 
}
.language input{
  height: 18px;
 
  
}
.language label{
  height: 18px;
 
}
input[type="radio"] {
  margin-right: -22px;
}


input[type="date"]{
    background-color: white;
    padding: 8px;
    
    
  
    font-family: "Roboto Mono",monospace;
    color: #030202;
    font-size: 18px;
    border: none;
  
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #abc7c8;
    padding: 8px;
    cursor: pointer;
    border-radius: 20px;
}

.delete-button{
  background-color: red;
  width: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.delete-button i{
  font-size: 18px;
}
.edit-button{
  background-color: green;
  width: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.edit-button i{
  font-size: 18px;
}
.dlt-user{
  background-color: red;
  width: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dlt-user i{
  font-size: 18px;
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column;
    width: 50%;
  
    margin-top: -72px;
    padding: 8px 0px;
    width: 500px;
    height: 928px;
    border-radius: 0px;
  }
  .table table {
    border-collapse: collapse;
    width: 400px;
    margin-top: 80px;
    
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 50%;
  
    margin-top: -72px;
    padding: 8px 0px;
    width: 500px;
    height: 928px;
    border-radius: 0px;
  }
  .form{
    margin: 0;
    padding: 50px;
    width: 430px;
    height: 200px;
  }
  .table table {
    border-collapse: collapse;
    width: 500px;
    margin-top: 80px;
    
  }
}

.search-button{
  background-color: #030202;
}
.search-button i{
  color: yellow;
  font-size: 20px;

}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
  
  
    margin-top: -72px;
    padding: 8px 0px;
    width: 00px;
    height: 928px;
    border-radius: 0px;
  }
  
  .form{
    margin: 0;
    padding: 50px;
    width: 320px;
    height: 200px;
    margin-left: -25px ;
  }
  
  .table table {
    border-collapse: collapse;
    width: 350px;
    margin-top: 80px;
    
    
  }
  input{
    width: 280px;
    height: 30px;
    margin-left: 8px;
    border-radius: 8px;
    }
    label{
      margin-left: 8px;
      
    }
    .btn{
  
      text-align: center;
    }
}